packages:
  yum:
    curl: []
    git: []
    gcc: []
    epel-release: []
    ruby-devel: []
    make: []
    ruby-irb: []
    libyaml-devel: []
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []
    openssl-devel: []
    libffi-devel: []
    postgresql94-devel: []
    zlib: []
    zlib-devel: []
    patch: []
    readline: []
    readline-devel: []
    libyaml-devel: []
    bzip2: []
    autoconf: []
    automake: []
    gcc-c++: []
    libtool: []
    bison: []
