commands:

  01_node_get:
    cwd: /tmp
    command: 'sudo curl --silent --location https://rpm.nodesource.com/setup_13.x | sudo bash -'

  02_node_install:
    cwd: /tmp
    command: 'sudo yum -y install nodejs'

  03_yarn_get:
    cwd: /tmp
    # don't run the command if yarn is already installed (file /usr/bin/yarn exists)
    test: '[ ! -f /usr/bin/yarn ] && echo "yarn not installed"'
    command: 'sudo wget https://dl.yarnpkg.com/rpm/yarn.repo -O /etc/yum.repos.d/yarn.repo'

  04_yarn_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/yarn ] && echo "yarn not installed"'
    command: 'sudo bash - && sudo yum -y install yarn'

  05_home_dir:
    test: '[ ! -p /home/webapp ] && echo "webapp not exited"'
    command: 'sudo mkdir -p /home/webapp'

  06_grant_home_dir:
    test: '[ ! -p /home/webapp ] && echo "webapp not exited"'
    command: 'sudo chmod 777 /home/webapp'

  07_chmod_logs:
    command: "chown webapp:webapp -R /var/app/current/log/"
    ignoreErrors: true
    
  08_create_log_file:
    command: "touch /var/app/current/log/production.log"
    ignoreErrors: true
    
  09_chown_log_production:
    command: "chown webapp:webapp /var/app/current/log/production.log"
    ignoreErrors: true

  10_chmod_log_dir:
    command: "chmod 0664 -R /var/app/current/log/"
    ignoreErrors: true

  11_update_bundler:
    command: "gem update bundler"
    ignoreErrors: true

  12_chown_current:
    command: "chown webapp:webapp -R /var/app/current/"
    ignoreErrors: true

  13_chmod_current:
    command: "chmod 0755 -R /var/app/current/"
    ignoreErrors: true

  14_chown_current:
    command: "chown webapp:webapp -R /var/app/ondeck/"
    ignoreErrors: true

  15_chown_current:
    command: "chmod 0777 -R /var/app/ondeck/"
    ignoreErrors: true

container_commands:

  16_install_webpack:
    command: "npm install --save-dev webpack"

  17_precompile:
    command: "bundle exec rake assets:precompile"